
#canvas{
   
    background: green;
    display: block;
    height: 100%;
}
body{
  margin: 0px;
}

html{
    overflow-x: hidden;
}
.actions{
    position: fixed;
    bottom: 0;
    left: 0;
}

.actions>#brush{
    display: none;
}
.actions.x>#eraser{
    display: none;
}
.actions.x>#brush{
    display:inline-block;
}